<div class="container">

    <h2>Salvar contato</h2>

    <form #variavelContatoForm="ngForm">

        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" [(ngModel)]="contato.nome" name="nome" [ngClass]="getControlClass(nome.valid, nome.pristine)"
            #nome="ngModel" 
            placeholder="Insira o Nome" required>
            <div [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório</div>
        </div>
        
        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="contato.email" name="email" [ngClass]="getControlClass(email.valid, email.pristine)" 
            placeholder="Insira o Email" #email="ngModel" required>
            <div [hidden]="email.valid || email.pristine">O campo email é obrigatório</div>
        </div>
        
        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone">Telefone</label>
            <input type="text" [(ngModel)]="contato.telefone" name="telefone" [ngClass]="getControlClass(telefone.valid, telefone.pristine)" 
            placeholder="Insira o Telefone" #telefone="ngModel" required>
            <div [hidden]="telefone.valid || telefone.pristine">O campo telefone é obrigatório</div>
        </div>

        <button type="submit" class="btn btn-info" [disabled]="!variavelContatoForm.form.valid">Salvar</button>
        <a routerLink="/" class="btn btn-secondary">Voltar</a>


    </form>

</div>